.header .user-logged {
    position: absolute;
    top: 1%;
    left: 75%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
}

span {
    color: rgb(131, 0, 0);
    font-size: 1.3rem;
}