.header {
    position: absolute;
    top: 1%;
    left: 1%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    width: 250px;
    background-color: #2a2a2a;
    color: #fff;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
}

span {
    color: rgb(0, 226, 0);
}