.lista-reservas {
    font-family: "Nunito", sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .confirmada {
    color: green;
  }
  
  .pendente {
    color: orange;
  }
  
  .cancelada {
    color: red;
  }

  .buttonReservar {
    width: 20%;
    margin: auto;
    margin-top: 5%;
  }

  .buttonReservar a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
  }
  