.lista-reservas {
    font-family: "Nunito", sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 7%;
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    font-weight: 600;
    background-color: #ccc;
    border: 1px solid #1f1f1f;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: rgb(131, 0, 0);
    color: white;
  }
  

  .buttonReservar {
    width: 20%;
    margin: auto;
    margin-top: 5%;
  }

  .buttonReservar a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
  }
  